{% extends 'baseBack.html.twig' %}

{% block AabiElWest %}

<h1>Liste actuelle des Livraisons</h1>
<table border="2">
    <tr>
        <th>Référence livraison</th>
        <th>Client</th>
        <th>Email Client</th>
        <th>Addresse Client</th>
        <th>Date Livraison</th>
        <th>Prix Livraison</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    {% for livraison in liv %}
    <tr>
        <td>{{ livraison.idCommande.reference }}</td>
        <td>{{ livraison.idUser.nomuser }} {{ livraison.idUser.prenomuser }}</td>
        <td>{{ livraison.idUser.emailusr }}</td>
        <td>{{ livraison.idUser.adruser }}</td>
        <td>{{ livraison.dateLivraison|date('Y-m-d') }}</td>
        <td>{{ livraison.prixLivraison }}</td>
        <td>{{ livraison.statusLivraison }}</td>
        <td>
            <a href="{{ path('livraison_update', {'id': livraison.idLivraison}) }}" class="btn btn-primary">Modifier</a>
            <a href="{{ path('livraison_delete', {'id': livraison.idLivraison}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette livraison ?')">Supprimer</a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="8">Aucun enregistrement trouvé</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
