{% extends 'base.html.twig' %}


{% block stylesheets %}
	{{ parent() }}
	{# Inclut le contenu du bloc stylesheets du template parent #}

	<style>

		* {
			margin: 0;
			padding: 0;
			font-family: poppins;
			box-sizing: border-box;
		}
		a {
			text-decoration: none;
		}
		#testimonials {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 100%;
		}
		.testimonial-heading {
			letter-spacing: 1px;
			margin: 30px 0;
			padding: 10px 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.testimonial-heading h1 {
			font-size: 2.2rem;
			font-weight: 500;
			background-color: #202020;
			color: #ffffff;
			padding: 10px 20px;
		}
		.testimonial-heading span {
			font-size: 1.3rem;
			color: #252525;
			margin-bottom: 10px;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
		.testimonial-box-container {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			width: 100%;

		}
		.testimonial-box {
			width: 500px;
			box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
			background-color: #ffffff;
			padding: 20px;
			margin: 15px;
			cursor: pointer;
		}
		.profile-img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			overflow: hidden;
			margin-right: 10px;
		}
		.profile-img img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
		.profile {
			display: flex;
			align-items: center;
		}
		.name-user {
			display: flex;
			flex-direction: column;
		}
		.name-user strong {
			color: #3d3d3d;
			font-size: 1.1rem;
			letter-spacing: 0.5px;
		}
		.name-user span {
			color: #979797;
			font-size: 0.8rem;
		}
		.reviews {
			color: #f9d71c;
		}
		.box-top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;
		}
		.client-comment p {
			font-size: 0.9rem;
			color: #4b4b4b;
		}
		.testimonial-box:hover {
			transform: translateY(-10px);
			transition: all ease 0.3s;
		}

		@media(max-width:1060px) {
			.testimonial-box {
				width: 45%;
				padding: 10px;
			}
		}
		@media(max-width:790px) {
			.testimonial-box {
				width: 100%;
			}
			.testimonial-heading h1 {
				font-size: 1.4rem;
			}
		}
		@media(max-width:340px) {
			.box-top {
				flex-wrap: wrap;
				margin-bottom: 10px;
			}
			.reviews {
				margin-top: 10px;
				margin-right: 20px;
			}
		}
		::selection {
			color: #ffffff;
			background-color: #252525;
		}


		#ajouteravis {
			cursor: pointer;
			color: black; /* Couleur du texte du lien */
		}
		#ajouteravis:hover {
			text-decoration: underline; /* Souligner le texte lorsque survolé */
			cursor: pointer; /* Changer le curseur en pointeur */
		}
	</style>
{% endblock %}


{% block AabiElWest1 %}


	<div class="fashion_section">
		<div class="background-colour">


			<link rel="shortcut icon" href="images/fav-icon.png"/>
			<link
			rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
			<!--poppins-font-family------------------->
			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
			<!--using-Font-Awesome-------------------->
			<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
		</head>
		<body>
			<!--Testimonials----------------- -->
			<section
				id="testimonials">
				<!--heading- -->
				<div class="testimonial-heading">

					{% if app.user %}
						<a href="{{ path('app_addAvis', {'idp': id_p}) }}" class="ajouteravis">Partagez votre opinion avec les autres clients ></a>
					{% else %}
						<a href="{{ path('app_login') }}">Partagez votre opinion avec les autres clients ></a>
					{% endif %}
					<h1>Avis des Clients</h1>


				</div>
				<!--testimonials-box-container------>

				{% for A in avis %}
					<div
						class="testimonial-box-container">


						<!--BOX-1-------------->
						<div
							class="testimonial-box">
							<!--top------------------------->
							<div
								class="box-top">
								<!--profile----->
								<div
									class="profile">
									<!--img---->
									<div class="profile-img">
										<img src="images/c-1.jpg"/>
									</div>
									<!--name-and-username-->
									<div class="name-user">
										<strong>{{ A.idClient.nomuser }}
											{{ A.idClient.prenomuser }}</strong>
										<span>@{{ A.idClient.nomuser }}{{ A.idClient.prenomuser }}</span>
									</div>
								</div>

								<!--reviews------>
								<div class="reviews">
									{% if A.note == "0" %}
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
									{% elseif A.note == "1" %}
										<i class="fas fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
									{% elseif A.note == "2" %}
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
									{% elseif A.note == "3" %}
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="far fa-star"></i>
										<i class="far fa-star"></i>
									{% elseif A.note == "4" %}
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="far fa-star"></i>
									{% elseif A.note == "5" %}
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
									{% endif %}
								</div>

								<div class="lang_box ">
									<a href="#" title="Language" class="nav-link" data-toggle="dropdown" aria-expanded="true">
										<img src="{{ asset('images/toggle-icon.png')}}" alt="flag" class="mr-2 " title="United Kingdom">
										<i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
									</a>
									{% if A.idClient.idUser == 10 %}
										<div class="dropdown-menu ">
											<a href="{{ path('app_editAvis', {'id_a': A.idAvis}) }}" class="dropdown-item">
												<img src="{{ asset('images/edit.png')}}" class="mr-2" alt="flag">
												modifier
											</a>
											<a href="{{ path('app_deleteAvisFront', {'id_a': A.idAvis}) }}" class="dropdown-item">
												<img src="{{ asset('images/delete2.png')}}" class="mr-2" alt="flag">
												supprimer
											</a>
										</div>
									{% else %}
										<div class="dropdown-menu ">
											<a href="{{ path('app_addNotification', {'Type': 'avis'}) }}" class="dropdown-item">
												<img src="images/edit.png" class="mr-2" alt="flag">
												signaler
											</a>
										</div>
									{% endif %}
								</div>


							</div>
							<!--Comments---------------------------------------->
							<div class="client-comment">
								<p>{{A.commentaire}}.</p>
							</div>
						</div>

					</div>

				{% endfor %}
			</section>
		</body>
	</body>
</html></div></div>{% endblock %}
