{% extends 'baseFront.html.twig' %}


{% block stylesheets %}
	{{ parent() }}
	{# Inclut le contenu du bloc stylesheets du template parent #}

	<style>
		.wrapper {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 30px;
		}
		.product-item {
			background-color: #F0F8FF;
			padding: 20px;
			border-radius: 10px;
			text-align: center;
			border: 2px solid black;
			margin-left: 20px; /* Ajoutez la marge à gauche */
			margin-right: 20px; /* Ajoutez la marge à droite */
		}
		.product-item img {
			max-width: 125%;
			height: auto;
		}
		.product-item a {
			display: inline-block;
			background-color: #ff69b4;
			padding: 10px 20px;
			border-radius: 20px;
			color: white;
			text-decoration: none;
		}
		.background-colour {
			background-color: #f5f5f5; /* Remplacez cette valeur par la nuance de gris souhaitée */
			/*background-image: url('images/ringi.jpg');*/
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			height: 100vh;
			position: relative;
		}
	</style>
{% endblock %}


{% block AabiElWest1 %}


	<div class="fashion_section">
		<div class="background-colour">
			<div class="wrapper">
				{% for product in prod %}
					<div class="product-item ">


						<img src="{{ asset('uploadsProduit/' ~ product.ImageP) }}" alt="Image du produit" style="max-width: 100px; max-height: 100px;">
						<h3>{{ product.NomP }}</h3>
						<p>Prix :
							{{ product.PrixP }}
							DT</p>

						<a class="product-button" href="{{ path('product_details', {'idp': product.Id_Produit}) }}">Consulter</a>
						<a class="product-button" href="{{ path('app_addAvis', {'idp': product.Id_Produit}) }}">Avis</a>
						<a class="product-button" href="{{ path('app_consulterAvisFront') }}">consulterAvis</a>

						<!-- Ajoutez ici le spinner pour la quantité -->
						<!-- Ajoutez ici le bouton "Ajouter au panier" -->
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
