{% extends 'baseBack.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
<style>

   .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .pagination a {
            color: #333;
            text-decoration: none;
            padding: 5px 10px;
            border: 1px solid #ddd;
            margin: 0 5px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .pagination a:hover {
            background-color: #f5f5f5;
        }

        .pagination .current {
            background-color: #007bff;
            color: white;
             padding: 5px 10px;
            border: 1px solid #ddd;
            margin: 0 5px;
            border-radius: 5px;
        }


</style>


{% endblock %}

{% block AabiElWest %}
<div class="container-fluid">
  <!-- Afficher le message flash -->
    {% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <div>
            <h6 class="m-0 font-weight-bold text-primary">Liste des Produits en Stock</h6>
        </div>
       <div>
    <button type="button" class="btn btn-primary" onclick="openAddProductInterface()">
        Ajouter un nouveau produit
    </button>
</div>

 <div>
   <a class="btn btn-primary" href="{{path('PDF_Produits') }}">    Exporter en PDF </a>
<script type="text/javascript"> 
function imprimer_page(){
                            window.print();
                        }
</script>


</div>
    </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Référence Produit</th>
                            <th>Nom Catégorie</th>
                            <th>Nom Produit</th>
                            <th>Prix Produit</th>
                            <th>Quantité en Stock</th>
                            <th>Quantité Seuil</th>
                            <th>Image du Produit</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in prod %}
                        <tr>
                            <td>{{ product.Id_Produit }}</td>
                            <td>{{ product.Id_Categorie.NomCategorie }}</td>
                            <td>{{ product.NomP }}</td>
                            <td>{{ product.PrixP }}</td>
                            <td>{{ product.QteP }}</td>
                            <td>{{ product.QteSeuilP }}</td>
                         
<td>
    <img src="{{ asset('uploadsProduit/' ~ product.ImageP) }}" alt="Image du produit"  style="max-width: 100px; max-height: 100px;">

</td>
                           <td>
    <a href="{{ path('modifierProd', {'id': product.Id_Produit}) }}" class="btn btn-success">Modifier</a>
</td>

                            <td>
                                  <form action="{{ path('product_delete', {'id': product.Id_Produit}) }}" method="post">
                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                                 </form>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="9">No Record Found</td>
                        </tr>
                        {% endfor %}
                      
                    </tbody>
                </table>
              <div class="pagination" > {{ knp_pagination_render(prod) }}</div>
            </div>
    
        </div>
                
    </div>   
</div> </div>
<script>
    function openAddProductInterface() {
        window.location.href = "{{ path('ajoutProd') }}";
    }
</script>


{% endblock %}
