{% extends 'baseBack.html.twig' %}

{% block AabiElWest %}

<h1>Liste actuelle des Commandes</h1>
<table border="2">
    <tr>
        <th>Référence Commande</th>
        <th>Client</th>
        <th>Email Client</th>
        <th>Date commande</th>
        <th>Livrable</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    {% for commande in pagination %}
    <tr>
        <td>{{ commande.reference }}</td>
        <td>{{ commande.idUser.nomuser }} {{ commande.idUser.prenomuser }}</td>
        <td>{{ commande.idUser.emailusr }}</td>
        <td>{{ commande.dateCom|date('Y-m-d') }}</td>
        <td>{{ commande.livrable ? 'Oui' : 'Non' }}</td>
        <td>{{ commande.status }}</td>
        <td>
            <a href="{{ path('Commande_update', {'id': commande.idCommande}) }}" class="btn btn-primary">Modifier</a>
            <a href="{{ path('commande_delete', {'id': commande.idCommande}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette commande ?')">Supprimer</a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="7">Aucun enregistrement trouvé</td>
    </tr>
    {% endfor %}
</table>
{{ knp_pagination_render(pagination) }}

{% endblock %}
